APP_ENV=local
DISCORD_BOT_TOKEN=replace-with-your-bot-token
DISCORD_GUILD_ID=replace-with-your-guild-id
DISCORD_ROLE_ID=replace-with-your-production-member-role-id
FIVEM_SERVER_NAME=CR Roleplay
DISCORD_POLL_INTERVAL=5000
DISCORD_COMMAND_PREFIX=!
DISCORD_PLAYER_LOG_CHANNEL_ID=replace-with-your-player-log-channel-id
BLACKLISTED_USERS=
DISCORD_PLAYER_CHAT_CHANNEL_ID=replace-with-your-player-chat-channel-id
DISCORD_PLAYER_RECAP_CHANNEL_ID=replace-with-your-player-recap-channel-id
ATTENDANCE_START_TIME=21:00
ATTENDANCE_END_TIME=01:00
ATTENDANCE_PLAYTIME=90m
DATABASE_URL=postgres://sot:sot@postgres:5432/sot?sslmode=disable
WEB_API_ADDRESS=:8080
APP_JWT_SECRET=replace-with-at-least-32-random-characters
APP_JWT_TTL=15m
